@tailwind base;

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

h1 {
  @apply text-xl;
}
h2 {
  @apply text-lg;
}
h3 {
  @apply text-base;
}

@screen lg {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}

a {
  color: theme('colors.blue.700');
}

a:hover {
  color: theme('colors.blue.800');
}

address,
ol,
p,
ul {
  @apply mb-4;
}

@tailwind components;
